<div class="escopo my-4 p-2" id="escopo{{ id }}">
  <div class="d-flex justify-content-center">
    <span
      class="material-icons seta"
      tooltip="Mover para cima"
      placement="auto"
      [delay]="100"
      triggers="hover"
      container="body"
      #popA="bs-tooltip"
      (click)="moverAcima(); popA.hide()"
    >
      north
    </span>
  </div>
  <app-verificacao-var
  *ngIf="objetoLocal && objetoLocal['variaveis'] && objetoLocal['acao'] && objetoLocal['acao']['array']"
  [(variaveisArray)]="objetoLocal['variaveis']"
  [(variavel)]="this.objetoLocal['acao'].array"
  [(errorControl)]="errorControl"
  [(tootltipErro)]="tootltipErro"
  [only]="'array'"
  ></app-verificacao-var>
  <div class="row">
    <div class="col-10 d-flex">
      <h3 class="">{{ "Iteração no" }}</h3>
      <ng-container *ngIf="tipo != 'senao'">
        <h3 class="mx-1">{{ "(" }}</h3>
        <button class="btn btn-outline-dark mx-3" (click)="openVariaveis()">
          {{
            objetoLocal["acao"] && objetoLocal["acao"].array
              ? objetoLocal["acao"].array.id
              : "Variável"
          }}
        </button>
        <h3 class="mx-1">{{ ")" }}</h3>
        <h3 class="mx-1">{{ " como" }}</h3>
        <input
          pattern="[^0-9][a-zA-Z0-9]*"
          autofocus="true"
          autocomplete="off"
          [formControl]="como"
          class="mx-1 form-control col-2"
          type="text"
          name="item"
          id="item"
        />
        <div class="alert alert-danger alert-sm" *ngIf="como?.errors?.exist">
          Essa variavel ja existe no escopo.
        </div>
        <div
          #validation
          class="alert alert-danger alert-sm"
          *ngIf="como?.errors?.pattern && !como?.pristine"
        >
          Nome deve iniciar com letras, conter apenas letras e/ou números.
        </div>
      </ng-container>
    </div>
    <div class="col-2">
      <button
        type="button"
        class="btn btn-danger float-right"
        (click)="removeRegra(id)"
      >
        Remove
      </button>
    </div>
  </div>
  <app-create-variavel [(objetoLocal)]="objetoLocal"></app-create-variavel>
  <div class="mt-3" id="{{ id }}"></div>
  <button type="button" class="btn btn-dark mr-5" (click)="novoEscopo()">
    <span class="material-icons my-1"> add </span>
  </button>
  <div class="d-flex justify-content-center">
    <span
      class="material-icons seta mt-3"
      tooltip="Mover para baixo"
      placement="auto"
      [delay]="100"
      triggers="hover"
      #pop="bs-tooltip"
      container="body"
      (click)="moverAbaixo(); pop.hide()"
    >
      south
    </span>
  </div>
</div>
