<div class="escopo my-4 p-2" id="escopo{{ id }}">
  <div class="d-flex justify-content-center">
    <span
      class="material-icons seta"
      tooltip="Mover para cima"
      placement="auto"
      [delay]="100"
      triggers="hover"
      container="body"
      #popA="bs-tooltip"
      (click)="moverAcima(); popA.hide()"
    >
      north
    </span>
  </div>
  <div class="row mt-3">
    <div class="d-flex col-10">
      <h3 class="">Atribuir:</h3>
      <button
        type="button"
        class="btn btn-outline-dark mx-3"
        (click)="openModalVariaveis()"
      >
        {{ setLabel() + " " }}
      </button>
      <h3 class="font-weight-bolder">=</h3>
      <button
        *ngIf="objetoLocal['acao']"
        type="button"
        class="btn btn-outline-dark mx-3"
        [disabled]="objetoLocal['acao']['variavel'] ? false : true"
        (click)="openModalExpressao()"
      >
        {{
          this.objetoLocal["acao"]["valor"]
            ? this.objetoLocal["acao"]["valor"]
            : "Expressão"
        }}
      </button>
    </div>
    <div class="col-2">
      <button
        type="button"
        class="btn btn-danger float-right"
        (click)="removeRegra(id)"
      >
        Remove
      </button>
    </div>
  </div>
  <app-verificacao-var
    *ngIf="
      objetoLocal &&
      objetoLocal['variaveis'] &&
      objetoLocal['acao'] &&
      objetoLocal['acao']['valor']
    "
    [(errorControl)]="errorControl"
    [(tootltipErro)]="tootltipErro"
    [(variaveisArray)]="objetoLocal['variaveis']"
    [(variavel)]="objetoLocal['acao']['variavel']"
    [(expressao)]="this.objetoLocal['acao']['valor']"
    (expressaoEmitter)="evaluate($event[0], $event[1])"
  ></app-verificacao-var>

  <div class="d-flex justify-content-center">
    <span
      class="material-icons seta mt-3"
      tooltip="Mover para baixo"
      placement="auto"
      [delay]="100"
      triggers="hover"
      #pop="bs-tooltip"
      container="body"
      (click)="moverAbaixo(); pop.hide()"
    >
      south
    </span>
  </div>
</div>
