<div class="escopo my-4 p-2" id="escopo{{ id }}">
  <div class="d-flex justify-content-center">
    <span
      class="material-icons seta"
      tooltip="Mover para cima"
      placement="auto"
      [delay]="100"
      triggers="hover"
      container="body"
      #popA="bs-tooltip"
      (click)="moverAcima(); popA.hide()"
    >
      north
    </span>
  </div>
  <div class="row">
    <h4 class="col-10" *ngIf="!edicaoNome" (dblclick)="editNome()">
      {{ objetoLocal["nome"] }}
    </h4>
    <div *ngIf="edicaoNome">
      <input
        [placeholder]="objetoLocal['nome']"
        (blur)="setNome()"
        class="ml-2"
        type="text"
        [(ngModel)]="str"
        name="nome"
        id="nome"
      />
    </div>
    <div class="col-2">
      <button
        type="button"
        class="btn btn-danger float-right"
        (click)="removeRegra(id)"
      >
        Remove
      </button>
    </div>
  </div>
  <app-create-variavel
    *ngIf="objetoLocal['variaveisLocal']"
    [(objetoLocal)]="objetoLocal"
  ></app-create-variavel>
  <div class="mt-3" id="{{ id }}">{{ objeto | json }}<br /></div>
  <button type="button" class="btn btn-dark mr-5" (click)="novoEscopo()">
    <span class="material-icons my-1"> add </span>
  </button>
  <div class="d-flex justify-content-center">
    <span
      class="material-icons seta mt-3"
      tooltip="Mover para baixo"
      placement="auto"
      [delay]="100"
      triggers="hover"
      #pop="bs-tooltip"
      container="body"
      (click)="moverAbaixo(); pop.hide()"
    >
      south
    </span>
  </div>
</div>
