<div class="escopo my-4 p-2" id="escopo{{ id }}">
  <div class="d-flex justify-content-center">
    <span
      class="material-icons seta"
      tooltip="Mover para cima"
      placement="auto"
      [delay]="100"
      triggers="hover"
      container="body"
      #popA="bs-tooltip"
      (click)="moverAcima(); popA.hide()"
    >
      north
    </span>
  </div>
  <div class="d-flex justify-content-between">
    <h4 class="align-self-start align-middle text-center">{{ "Retornar" }}</h4>
    <div class="">
      <button
        type="button"
        class="btn btn-danger align-self-end"
        (click)="removeRegra(id)"
      >
        Remove
      </button>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <span
      class="material-icons seta mt-3"
      tooltip="Mover para baixo"
      placement="auto"
      [delay]="100"
      triggers="hover"
      #popB="bs-tooltip"
      container="body"
      (click)="moverAbaixo(); popB.hide()"
    >
      south
    </span>
  </div>
</div>
