.variaveis{
  border: 1pt solid black ;
  padding: 1%;
}
.atribuicao{
  border: 1pt solid greenyellow;
  padding: 2%;
}
.iteracao{
  border: 1pt solid forestgreen;
  padding: 2%;
}
.retorno{
  border: 1pt solid red;
  margin: 10px 0;
}
.ifTemplate{
  border: 1pt solid rgb(255, 196, 0);
  padding: 2%;
  margin: 10px 0;
}
.enquanto{
  border: 1pt solid grey;
  padding: 2%;
}
.manipularArray{
  border: 1pt solid darkgoldenrod;
  padding: 2%;
}
.executarRegra{
  border: 1pt solid darkcyan;
  padding: 2%;
}
.text-48{
  font-size: 48px;
}
.text-24{
  font-size: 24px;
}
.icon-manipularArray{
  margin-left: -20px;
  z-index: -2;
  margin-top: -2px;
  font-size: x-large;
}
.color-darkgoldenrod{
  color: darkgoldenrod;
}
.color-darkcyan{
color: rgb(0, 80, 80);
}
.icon-executarRegra{
  margin-left: -35px;
  z-index: -2;
  margin-top: 10px;
  font-size: x-large;
}
.text-36{
  font: 36px;
}
.angulo{
  transform: rotate(90deg);
}
.items{
  border: 1pt dotted purple;
}
.link:hover{
color: rgb(0, 80, 80);
}
