<div class="escopo my-4 p-2" id="escopo{{ id }}">
  <div class="d-flex justify-content-center">
    <span
      class="material-icons seta"
      tooltip="Mover para cima"
      placement="auto"
      [delay]="100"
      triggers="hover"
      container="body"
      #popA="bs-tooltip"
      (click)="moverAcima();popA.hide()"
    >
      north
    </span>
  </div>
  <div class="row mt-3">
    <div class="d-flex col-10">
      <h3 class="">Executar regra:</h3>
      <button
        type="button"
        class="btn btn-outline-dark mx-3"
        (click)="openRegras()"
      >
        {{ objetoLocal['acao'] && objetoLocal['acao'].regra ?  objetoLocal['acao'].regra.idregra : "Escolha a regra"}}
      </button>
    </div>
    <div class="col-2">
      <button
        type="button"
        class="btn btn-danger float-right"
        (click)="removeRegra(id)"
      >
        Remove
      </button>
    </div>
    <div *ngIf="objetoLocal['acao'] && objetoLocal['acao'].regra" >
      <div class="d-flex col-12 mt-3" id="entrada">
        <h3> {{ "Entrada ( "+ (this.objetoLocal['acao'].regra.entrada.type == 'modelo' ? this.objetoLocal['acao'].regra.entrada.tipomodelo : this.objetoLocal['acao'].regra.entrada.type) +" )" }} =</h3>
        <button
          type="button"
          class="btn btn-outline-dark mx-3 col"
          (click)="openExpressao()"
        >
          {{  objetoLocal['acao'] && objetoLocal['acao'].entrada ?  objetoLocal['acao'].entrada : "Expressao de entrada" }}
        </button>
      </div>
      <div class="d-flex col-12 mt-3" id="retorno">
        <h3>{{ "Atribuir retorno ( "+ (this.objetoLocal['acao'].regra.saida.type == 'modelo' ? this.objetoLocal['acao'].regra.saida.tipomodelo : this.objetoLocal['acao'].regra.saida.type) +" )"}} a</h3>
        <button
          type="button"
          class="btn btn-outline-dark mx-3"
          (click)="openVariaveis()"
        >
          {{ objetoLocal['acao'] && objetoLocal['acao'].retorno ? objetoLocal['acao'].retorno  :"Selecionar variavel" }}
        </button>
      </div>
    </div>
  </div>
  <app-verificacao-var
  *ngIf="objetoLocal && objetoLocal['variaveis'] && objetoLocal['acao'] && objetoLocal['acao']['entrada'] && objetoLocal['acao']['retorno']"
  [(errorControl)]="errorControl"
  [(tootltipErro)]="tootltipErro"
  [(variaveisArray)]="objetoLocal['variaveis']"
  [(variavel)]="this.objetoLocal['acao'].regra.entrada"
  [(expressao)]="objetoLocal['acao']['entrada']"
  (expressaoEmitter)="evaluate($event[0],$event[1])"
  ></app-verificacao-var>
  <div class="d-flex justify-content-center">
    <span
      class="material-icons seta mt-3"
      tooltip="Mover para baixo"
      placement="auto"
      [delay]="100"
      triggers="hover"
      #pop="bs-tooltip"
      container="body"
      (click)="moverAbaixo(); pop.hide()"
    >
      south
    </span>
  </div>
</div>
