.wrap {
  width: 700px;
  background: #80c64a;
  // background: -webkit-linear-gradient(45deg, #56ab2f, #a8e063);
  // background: -o-linear-gradient(45deg, #56ab2f, #a8e063);
  // background: -moz-linear-gradient(45deg, #56ab2f, #a8e063);
  // background: linear-gradient(45deg, #56ab2f, #a8e063);
  background: floralwhite;
  border-radius: 10px;
  overflow: hidden;
  padding: 72px 55px 65px 55px;
  z-index: 5;
}
